<div class="container-fluid mt-4">
    <!-- Bouton pour afficher/masquer le formulaire -->
    <div class="mb-4 d-flex justify-content-end">
      <button class="btn btn-primary" (click)="toggleForm()">
        {{ showForm ? 'Annuler' : 'Ajouter une Propriété' }}
      </button>
    </div>
  
    <!-- Modal pour le formulaire -->
    <div class="modal fade" id="propertyModal" tabindex="-1" aria-labelledby="propertyModalLabel" aria-hidden="true" [ngClass]="{'show d-block': showForm}" (click)="closeModal($event)">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="propertyModalLabel">Ajouter une Nouvelle Propriété</h5>
            <button type="button" class="btn-close" (click)="toggleForm()" aria-label="Close"></button>
          </div>
          <app-form
            (propertySubmitted)="addProperty($event)"
            (cancel)="toggleForm()"
          ></app-form>
        </div>
      </div>
    </div>
  
    <!-- Tableau des Propriétés -->
    <app-table
      [title]="'Liste des Propriétés'"
      [columns]="propertyColumns"
      [data]="properties"
      [actions]="propertyActions"
      [link]="''"
      [linkText]="''"
    ></app-table>
  </div>