<div class="card mb-4">
  <div class="card-header">
    <h5>{{ title }}</h5>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th *ngFor="let column of columns">{{ column.header }}</th>
            <th *ngIf="actions.length > 0">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data">
            <td *ngFor="let column of columns">
              <!-- Handle date formatting if the column specifies a date -->
              <span *ngIf="column.isDate; else regularField">
                {{ row[column.field] | date }}
              </span>
              <ng-template #regularField>
                {{ row[column.field] }}
              </ng-template>
            </td>
            <td *ngIf="actions.length > 0">
              <button
                *ngFor="let action of actions"
                class="btn btn-sm me-1 action-btn"
                [ngClass]="{
                  'action-green': action.label === 'Publier',
                  'action-blue': action.label === 'Modifier',
                  'action-pink': action.label === 'Supprimer',
                  'action-yellow': action.label === 'Voir',
                  'action-purple': action.label === 'Suspendre',
                  'action-default': !['Publier', 'Modifier', 'Supprimer', 'Voir', 'Suspendre'].includes(action.label)
                }"
                (click)="action.handler(row)"
              >
                {{ action.label }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <a [routerLink]="link" *ngIf="link">{{ linkText }}</a>
  </div>
</div>