<!-- Hamburger Icon for Small Screens -->
<button class="hamburger btn btn-light d-block d-md-none" (click)="toggleSidebar()">
  <i class="bi bi-list"></i>
</button>

<!-- Sidebar Backdrop for Mobile -->
<div class="sidebar-backdrop" *ngIf="isSidebarOpen" (click)="toggleSidebar()"></div>

<!-- Sidebar -->
<div class="sidebar" [class.sidebar-open]="isSidebarOpen">
  <div class="sidebar-header">
    <h3>Admin Dashboard</h3>
  </div>

  <!-- Profile Image -->
  <div class="sidebar-image">
    <img src="assets/logo.png" alt="Profile Image">
  </div>

  <!-- Navigation Links -->
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/admin/dashboard" routerLinkActive="active" class="nav-link">
        <i class="bi bi-speedometer2"></i>
        <span>Tableau de bord</span>
      </a>
    </li>
   
    <li class="nav-item">
      <a routerLink="/profile" routerLinkActive="active" class="nav-link">
        <i class="bi bi-person"></i>
        <span>Mon Profil</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/admin/properties" routerLinkActive="active" class="nav-link">
        <i class="bi bi-house-door"></i>
        <span>Liste des propriétés</span>
      </a>
    </li>
    
  </ul>

  <!-- Logout Button -->
  <button class="logout-button" (click)="logout()">
    <i class="bi bi-box-arrow-right"></i>
    <span>Déconnexion</span>
  </button>
</div>

